@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=8c7b971f-72bf-41b3-b246-3e8ee93a84bb");
/*@font-face{
font-family:"Brown Light";
src:url("./Fonts/48a7bd6c-270f-495d-9aa0-c29ddb938cf8.eot?#iefix");
src:url("./Fonts/48a7bd6c-270f-495d-9aa0-c29ddb938cf8.eot?#iefix") format("eot"),url("./Fonts/e25361b2-f63f-4ef7-b2bd-5e71a08feea4.woff2") format("woff2"),url("./Fonts/c6fd3be7-a8b8-492e-b252-5152e4ee235b.woff") format("woff"),url("./Fonts/c8b41a5c-f424-4923-bf42-3b1d2f1a13d8.ttf") format("truetype"),url("./Fonts/e05ee686-aae2-4ad3-8ac4-803f95e9bfbd.svg#e05ee686-aae2-4ad3-8ac4-803f95e9bfbd") format("svg");
}*/
@font-face {
  font-family:'Brown Light';
  src: url('fonts/Brown-Light_gdi.eot');
  src: local('☺'),
    url('fonts/Brown-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('fonts/Brown-Light_gdi.woff') format('woff'),
    url('fonts/Brown-Light_gdi.ttf') format('truetype'),
    url('fonts/Brown-Light_gdi.svg#Brown-Light') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face{
font-family:"DIN Next Light";
src:url("./Fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
src:url("./Fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),url("./Fonts/de1216be-00c2-43c0-9c45-3e7f925eb519.woff2") format("woff2"),url("./Fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),url("./Fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),url("./Fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
}
@font-face{
font-family:"DIN Next Regular";
src:url("./Fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
src:url("./Fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("./Fonts/44e7b0fa-6c8d-43c2-b19e-f1e3ce9ea57c.woff2") format("woff2"),url("./Fonts/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("./Fonts/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("./Fonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
}
