$gold: #efede7;
/*@import 'varibles'*/

@import 'normalize';
@import 'components/*';
@import 'fonts';



html, body {
	overflow-x: hidden; 
	-webkit-overflow-scrolling: touch;
	/*overflow-y: visibile; */
    overflow-y: hidden;
}

.content-area {
	height: 100%;

}

.legal {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 99%;
	z-index: 1000;

}

.legal .card-header {
	text-align: center;
}

.legal .text-container {
	background: #fff;
    padding: 30px;
  
    width: 600px;
    
    /*height: 500px;*/
    border: 1px solid #a08540;
    /*transform: translate(-50%,calc(-50% - 30px));*/
    /*-webkit-transform: translate(-50%,calc(-50% - 30px));*/
    /*margin-bottom: 75px;*/
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    /*margin-top: -280px;*/
    left: 50%;
    /*margin-left: -300px;*/
    overflow-y: visible;

    .intro-text {
        height: 350px;
        overflow: hidden;
        position: relative;

        p{
            width: 90%;
        }
    }
}

.legal .card {
	overflow-y: scroll; 
}

.legal.display-legal {
	display: block;
}

.legal .close-button {
	background-color: transparent;
	height: 30px;
	width: 30px;

	
	.left-x {
		height: 30px;
	}

	.right-x {
		height: 30px;
	}
	
}


.no-overflow {
	overflow: hidden;
}



    @-ms-keyframes rotation { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes rotation { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes rotation { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }
    @keyframes rotation { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }

#loading {
            width: 100%;
            position: fixed; z-index: 50; background: #f8fbf1; margin-top: -15px; top: 50%;  }
        .spinner {
        	position: absolute; margin: auto; width: 50px;
        	height: 50px;
        	-webkit-animation: rotation 1s infinite linear;
        	animation: rotation 1s infinite linear;
        	border: 1px solid rgba(160,133,64,.3);
        	border-top-color: #a08540;
        	border-radius: 50%;
        	top: 0;
        	right: 0;
        	bottom: 0;
        	left: 0; }

html, body, .wrapper, .app {
	height: 100%;
}


.slider-right-enter {
  transform: translate3d(100%, 0, 0);
}
.slider-left-enter {
  transform: translate3d(-100%, 0, 0);
}

.slider-right-enter-active,
.slider-left-enter-active,
.slider-right-leave,
.slider-left-leave {
  transform: translate3d(0, 0, 0);
}

.slider-right-leave-active {
  transform: translate3d(-100%, 0, 0);
}
.slider-left-leave-active {
  transform: translate3d(100%, 0, 0);
}

@media only screen and (max-width: 820px){

	.content-area {
		height: auto;
	}
	
	.slide{
		background-size: cover;
			/*position: relative;*/
			position: absolute;
	}

	.slideshow {
		position: relative;
		height: 50%;

		.slide{
			
		}
	}

	.slideshow.gallery {
		position: absolute;
		top: 50px;
	}

	.controls .toggle-next {
		position: absolute;
		right: 0!important;
		margin-right: 0;
	}

	.card{
		position: relative;
		right: 0px!important;
		width: 100%;
		min-width: 0px;

	}

	.card .button-container {
		margin-bottom: 20px;
	}

	.header.close {
		left: -280px;
	}

	.header {
		left: 0;
	}

	.mobile-header{
		display: block;
		width: 100%;
		/*position: relative;*/
		background-color: black;
		height: 50px;
		z-index: 500;
	}

	.legal .text-container {
		padding: 2%;
		width: 96%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}
}

@media only screen and (max-height: 590px){
     html, body{
        overflow-y:visible;
    }
}


@media only screen and (min-width: 820px) and (max-height: 590px){
	html, body, .wrapper, .app, .slideshow, .card, .header {
    	height: 590px;
	}


}

@media only screen and (max-width: 640px) and (max-height: 490px){
		 .header {
    	height: 590px;
	}


}

@media only screen and (max-width: 820px) {
    html, body{
        overflow-y: visible; 
    }

    .app{
    	overflow-y:scroll;
    	overflow-x:hidden;  
    }
	.content-area {
		min-height: calc(50% - 50px);
		    background-color: #efede7;
	}

	.page {
		height: 100%;


	}

	.header.open {
		/*z-index: 501;*/
		/*position: absolute;*/
	}
}




