

.card {
  /*opacity: 0;*/
	width: 32%;
	min-width: 520px;
	position: absolute;
  box-sizing: border-box;
	background-color: $gold;
  font-family: 'Brown Light';  
  font-weight: 100;
  text-align: center;
  height: 100%;
  z-index:4;
  right: 279px;
  /*transition: .25s opacity linear;*/
}

.card.show{
  opacity: 1;
}

.card .text-container {
  /*top: 50%;*/
  /*margin-top: -315px;*/
  /*position: absolute;*/
  overflow: hidden;
  width: 100%;
}

.card-header {
  color: #debd67;
}

.card-header h1 {
  /*font-size: 22px;*/
  font-weight: 100;
}

.card p {
  /*font-size: 16px;*/
  font-size: 0.9em;
  letter-spacing: 1px;
  /*width: 90%;*/
  width: 87%;
  margin: 0 auto;
}

.card pre {
  /*font-size: 16px;*/
  font-size: 0.9em;
  white-space: pre-wrap;
  font-family: 'Brown Light';
  overflow: hidden;
  /*width: 90%;*/
  width: 87%;
  margin: 0 auto;
  letter-spacing: 1px;

}

.card table {
  margin: 3% auto 3%;
  /*width: 85%;*/
}

.card h1 {
  /*font-size: 1.8em;*/
  font-size: 1.25em;
  color: #debd67;
  letter-spacing: 1px;
  font-weight: 100;

}

.card h3 {
  font-size: 1.25em;
  letter-spacing: 2px;
  font-weight: 100;
}


  .card-header h1{
    /*font-size: 22px;*/
    /*font-size: 1.8em;*/
    margin: 30px 0px;
    font-weight: 100;
  }

  .about-header h1 {
    /*font-size: 1.8em;*/
    margin: 30px 0px;
    font-weight: 100;
  }

  .table-header h2{
    /*font-size: 14px;*/
    font-size: 1.05em;
    color: #debd67;
    letter-spacing: 1px;
    font-weight: 100;
  }



  table {
    font-size: .9em;
    border-spacing: 35px 5px;
    border-collapse: separate;

  }

  .date-table {
    margin: 4% 0;
  }

  td {
    text-align: left;
  }

  .card-footer-text {
    margin: 10% 0% 0% 0%;
    text-align: left;
  }

  .card-footer-text p {
    font-size: .9em;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 0px;
  }



.card .button-container {
  /*margin-top: 50px;*/
  margin-top: 7%;
  /*position: absolute;*/
  /*bottom: 0px;*/
  height: 50px;
  margin-bottom: 20px;
}

.card .text-container a {
  text-decoration: none;
  color: #debd67;
  transition: .25s color ease;

}

.card .text-container a:hover{
  color: black;
}

.card .button {
  
  border: solid 1px #debd67;
  width: 155px;
  display: inline-block;
  background-color: #fff;
  padding: 4px 0px;
  margin: 0px 25px;
  cursor: pointer;
  line-height: 24px;
  transition: .25s opacity ease;


  h2{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    /*font-size: 1.25em;*/
    font-family: 'Brown Light';
    color: #debd67;
    font-weight: 100;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  a{
    color: #debd67;
    text-decoration: none;
    transition: .25s color ease;
  }

}

.card .button:hover {
  opacity: 0.6;
}



/*///////MEDIA QUIRIES//////////*/

@media only screen and (min-width: 820px) and (max-height: 800px) {
  .card-footer-text {
    margin: 5% 0% 0% 0%;
  }

  .card .button-container {

    margin-top: 5%;

  }
}

@media only screen and (max-width: 820px){
  .card .text-container {
    position: relative;
    margin: 0 !important;
  }

  .card {
    border: 1px solid transparent;

    .text-container{
      top: auto !important;
      position: relative!important;
      margin-top: auto!important;
    }

    .button-container{
      height: auto;
    }
  }


}

@media only screen and (min-width: 640px) and (max-height: 590px){
  .card .text-container {
    top: 0;
    /*margin-top: 0!important;*/
  }
}

@media only screen and (max-width: 640px){

  .card .button {
    margin: 10px 20px;
  }

  }

@media only screen and (max-height: 740px) {


  .card .button-container {
    /*margin-top: 2%;*/
  }

  .proposal .card-footer-text {
    /*margin-bottom: 4%!important;*/
  }
}

@media only screen and (max-height: 730px) {
 /* .card {
    font-size: 12px;
  }

  table {
    font-size: 12px;
  }

  .card-header h1{
    font-size: 20px
  }

  .card h1 {
    font-size: 20px;
  }

  .card pre {
    font-size: 12px;
  }

  .card p {
    font-size: 14px;
  }

  .card .table-header h2 {
    font-size: 12px;
  }

  .card .button h2 {
    font-size: 14px;
  }

  .card .button-container {
    margin-top: 20px;

    h2 {
      font-size: 12px;
      line-height: 19px;
    }
  }*/

  .card .button {
    line-height: 19px;
  }

  

  /*.card-footer-text p {
    font-size: 11px;
  }*/
}

@media only screen and (max-height: 650px) {
  /*.card-header h1 {
    margin: 10px 0px;
  }

  .about-header h1 {
    margin: 10px 0px;
  }*/
  }

  @media only screen and (max-height: 630px) {
  
    .card table {
      /*margin: 1% auto 1%;*/
    }
  }












  .card.open{
    
    right: 279px;
    /*transition: 700ms right linear;*/
  }

  .card.close{
    right: 279px;
    /*transition: 700ms right linear;*/
   
  }


.card{
  transition: 500ms all ease;
   /*right: 20px;*/
   right: 279px;

}















.card.close.slide-content-right-leave.slide-content-right-leave-active {
  /*opacity: 0.5;*/
  /*right: 20px !important;*/
  opacity: 0;
  /*transition: right 10000ms ease-out;*/

}

/*////////  ANIMATIONS //////////*/


.slide-content-right-enter {
  /*opacity: 0.5;*/
  right: 279px !important;
}

.slide-content-right-enter.slide-content-right-enter-active {
  opacity: 0;
  /*right: 0px !important;*/
  right: 20px !important;
  transition: right 700ms ease-out;
}

.slide-content-right-leave {
  /*opacity: 1;*/
  right: 279px !important;
}

.slide-content-right-leave.slide-content-right-leave-active {
  /*opacity: 0.5;*/
  right: 20px !important;
  /*opacity: 0;*/
  transition: right 700ms ease-out;

}

.hide.slide-content-right-leave.slide-content-right-leave-active{
  opacity: 0;
  display: none;
}



.slide-content-left-enter {
	right: 20px !important;
}

.slide-content-left-enter.slide-content-left-enter-active {
	right: 279px !important;
	transition: right 700ms ease-out;
}

.slide-content-left-leave {
	opacity: 0;
}

.slide-content-left-leave.slide-content-left-leave-active {
	opacity: 0;
}







@media only screen and (max-width: 820px){

  .slide-content-right-enter {
    /*opacity: 0.5;*/
    right: 0px !important;
  }

  .slide-content-right-enter.slide-content-right-enter-active {
    opacity: 0;
    /*right: 0px !important;*/
    right: 0px !important;
    transition: all 1ms linear;
  }

  .slide-content-right-leave {
    /*opacity: 1;*/
    right: 0px !important;
  }

  .slide-content-right-leave.slide-content-right-leave-active {
    /*opacity: 0.5;*/
    right: 0px !important;
    transition: all 1ms linear;
  }

  .slide-content-left-enter {
    right: 0px !important;
  }

  .slide-content-left-enter.slide-content-left-enter-active {
    right: 0px !important;
    transition: all 1ms linear;
  }

  .slide-content-left-leave {
    opacity: 0;
  }

  .slide-content-left-leave.slide-content-left-leave-active {
    opacity: 0;
  }

}



















