

.header{
	/*width: 18%;*/
	min-width: 280px;
	width: 280px;
	/*min-width: 200px;*/
	height: 100%;
	background-color: #000;
	color: #debd67;
	font-family: 'DIN Next Light';
	position: absolute;
	right: 0;
	font-size: 10px;
	text-align: center;
	z-index: 100;

	font-weight: 200;
	text-transform: uppercase;
	
	/*opacity: 1;*/
}

.mobile-header{
	display: none;
	position: relative;
}

.nav-arrow{
	position: absolute;
	left: -55px;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
}

.nav-arrow.show-arrow img:hover{
	opacity: 0.7;
}

.nav-arrow.hide-arrow {
	display: none;
}

.close-button-container {
	height: 30px;
	text-align: right;
	padding: 20px 30px 0px 0px;
}

.close-button {
	/*background: url('/sprite@2x.png') no-repeat;*/
	/*background-position: -85px 141px;*/
	width: 20px;
	height: 20px;
	background-color: black;
	/*border: 1px solid red;*/
	/*float: right;*/

	cursor: pointer;
	position: relative;
	display: inline-block;

}

.left-x{
	height:20px;
	width:1px;
	margin-left:12px;
	background-color:#debd67;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	Z-index:1;
	/*position: relative;*/
}

.right-x {
	height:20px;
	width:1px;

	background-color:#debd67;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	/*Z-index:2;*/
	position: absolute;
	/*left: 12px;*/
	top: 0;

}

.header-content {
	position: relative;
	height: 100%;
}

.header-img{
	width: 100%;

	img{
		width: 56%;
		min-width: 150px;
	}
}

.nav-list {
	/*text-align: center;*/
}

.nav-list a {
	text-decoration: none;
	color: #debd67;
}

.nav-list a:hover {
	/*color: white;*/
	opacity: 0.7;
}

.link-container {
	/*display: inline-block;*/

	h2 {
		font-weight: 200;
		font-size: 15px;
		letter-spacing: 2px;
	}

	h2:first-child {
		display: inline-block;
		margin: 0;
	}

	a {
		padding: 10px 0px 5px 0px;
		display: inline-block;
	}
}


.nav-list a.active-link {
	/*color: #fff;*/
	border-bottom: 1px solid #debd67;
	padding-bottom: 4px;
}

.sublink a{
	color: white;
}

.sublink a:hover {
	color: #debd67;
	opacity: 1;
}

.sublink a.active-link {
	color: #debd67;
	border-bottom: 0px solid transparent;
}

.sublink-container {
	/*display: none;*/
	height: 0px;
	overflow: hidden;

	.sublink a {
		padding: 3px 0px;
	}
}

.sublink-container.opening {
	

	-webkit-transition: 0.35s;
	  -moz-transition: 0.35s;
	  -ms-transition: 0.35s;
	  -o-transition: 0.35s;
	  transition: 0.35s;
	  /*margin-left: 50% !important;*/
	  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    transition-timing-function: ease-in-out;
	  height: 180px !important;
	  padding-top: 10px;
	  /*display: block;*/
}

.sublink-container.open {
	height: 180px !important;
	padding-top: 10px;
	/*display: block;*/
	/*display: block;*/
}

.sublink-container.close {
	height: 0px !important;
	/*display: none;*/
}

.sublink-container.closing {
	

	-webkit-transition: 0.35s;
	  -moz-transition: 0.35s;
	  -ms-transition: 0.35s;
	  -o-transition: 0.35s;
	  transition: 0.35s;
	  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    transition-timing-function: ease-in-out;
	  /*margin-left: 50% !important;*/
	  height: 0px !important;
}

.nav-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	margin: 0px 0px 15px 0px;

	.footer-links h2 {
		display: inline-block;
		margin: 0px 10px 10px 10px;
		cursor: pointer;
	}

	h2 {
		font-weight: 200;
	}

	h2:hover {
		color: #debd67;
	}

	.nav-footer-address a{
		color: #debd67;
	}

	.nav-footer-address a:hover {
		color: white;
	}

	a {
		text-decoration: none;
		color: white;
	}

	a:hover {
		color: #debd67;
	}

	.social-icon{
		display: inline-block;
		height: 12px;
		width: 12px;
		overflow: hidden;
		margin: 0px 6px;
	}

	.social-icon img {
		/*width: 101%;*/
		width: auto;
		height: 102%;
	}

	.social-icon img:hover {
		opacity: 0.7;
	}

	.social-icon.pinterest img {
		width: auto;
	}

	.social-icon.twitter img {
		width: 107%;
	}

	.social-icon.facebook img {
		width: 55%;
	}
}

.open-hamburger {
	position: absolute;
	padding-left: 1.15em;
	margin-top: 0em;
	width: 30px;
	height: 30px;
	top: 8px;
	left: 0px;
	transition: .5s left ease;
}

.open-hamburger:before {
    content: "";
    position: absolute;
    left: 10px;
    /*top: 0.4em;*/
    top: 6px;
 
    width: 2em;
    height: 0.2em;
    background: #debd67;
    box-shadow: 0 0.5em 0 0 #debd67, 0 1em 0 0 #debd67;

}

.open-hamburger.open{
	left: 230px;

}

.open-hamburger.open:before{
	content: '';
    position: absolute;
    height: 3px;
    width: 80%;
    /*top: 50%;*/
    top: 15px;
    left: 5px;
    margin-top: -1px;
    background: #debd67;
    transform: rotate(45deg);

    box-shadow: none;
}

.open-hamburger.open:after{
	content: '';
    position: absolute;
    height: 3px;
    width: 80%;
    /*top: 50%;*/
    top: 15px;
    left: 5px;
    margin-top: -1px;
    background: #debd67;
    transform: rotate(-45deg);
}

.mobile-header-img {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 0;
	text-align: center;
}

.mobile-header-img.open img{
	opacity: 0;
}

.mobile-header-img.close img{
	opacity: 1;
	transition-delay: .5s;
}

.mobile-header-img img {
	width: 80px;
	margin-top: 6px;
	transition: .1s opacity ease;
}





.table-no-flick{-webkit-transform:translate3d(0,0,0);}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.no-flick{-webkit-transform:translate3d(0,0,0);}
	}
}


@media only screen and (max-width: 820px) and (max-height: 590px){


	.header-img {
		width: 70%;
		margin: 20px auto 0px;
		padding-top: 25px;

		img {
			min-width: 0;
		}
	}
}

@media only screen and (max-width: 820px ) and (max-height: 540px){
	.nav-footer {
		top: 320px;
	}
}

@media only screen and (max-width: 820px ) and (min-height: 540px){
	.nav-footer {
		top: auto!important;
		bottom: 20px;
	}
}


@media only screen and (min-width: 820px ) and (max-height: 650px){
	.link-container a {
		padding: 5px 0;
	}

	.sublink-container .sublink a {
	    padding: 3px 0;
	}
}

@media only screen and (max-width: 820px){

	.close-button-container{
		position: absolute;
		right: 0;
		padding: 0px 30px 0 0;
	}

	.header{
		width: 18%;
		height: 100%;
	}

	.close-button-container{
		padding: 35px 30px 0px 0px;
	}

	.header.open {
		position: fixed;
	}

	

	.nav-footer .footer-links h2 {
		margin: 0px 5px;
	}

	.nav-footer p {
		margin: 5px 0px;
	}

	.nav-footer h2 {
		margin: 4px 0px;
	}

	.header-img {
		display: none;
	}

	.close-button-container {
		padding: 0px 30px 0 0;
		top: -15px;
	}

	.nav-list-container {
		margin-top: 35px;

		.nav-list{
			top: 5px;
			position: relative;
		}
	}

	.sublink-container .sublink a {
	    padding: 1px 0;
	}

	.sublink-container.open, .sublink-container.opening, .sublink-container {
		height: 155px!important;
	}

	.social-links {
		margin: 2px 0px;
	}




}







/*///////////////ANIMATION////////////*/

.header.open{
	/*opacity: 1;*/
}

/*.header:hover{
	transition: all 1000ms ease-in;
	opacity: 0.5;
}*/

.header.close {
	/*opacity: 0.5;*/
	right: -260px;

}

.header-slide-right-enter {
  /*opacity: 0.5;*/
  right: 0px;
}

.header-slide-right-enter.header-slide-right-enter-active {
  opacity: 0;
  /*right: 0px;*/
  right: -260px;
  transition: all 500ms ease;
}

.header-slide-right-leave {
  /*opacity: 1;*/
  right: 0px;
}

.header-slide-right-leave.header-slide-right-leave-active {
  /*opacity: 0.5;*/
  right: -260px;
  transition: all 500ms ease;
}

.header-slide-left-enter {
	right: -260px;
}

.header-slide-left-enter.header-slide-left-enter-active {
	right: 0px;
	transition: all 400ms ease;
}

.header-slide-left-leave {
	opacity: 0;
}

.header-slide-left-leave.header-slide-left-leave-active {
	opacity: 0;
}



@media only screen and (max-width: 820px){
	.header.close {
	/*opacity: 0.5;*/
	left: -280px;

}

.header-slide-right-enter {
  /*opacity: 0.5;*/
  left: 0px;
}

.header-slide-right-enter.header-slide-right-enter-active {
  opacity: 0;
  /*left: 0px;*/
  left: -280px;
  transition: all 500ms ease;
}

.header-slide-right-leave {
  /*opacity: 1;*/
  left: 0px;
}

.header-slide-right-leave.header-slide-right-leave-active {
  /*opacity: 0.5;*/
  left: -280px;
  transition: all 500ms ease;
}

.header-slide-left-enter {
	left: -280px !important;
}

.header-slide-left-enter.header-slide-left-enter-active {
	left: 0px !important;
	transition: all 500ms ease;
}

.header-slide-left-leave {
	opacity: 0;
}

.header-slide-left-leave.header-slide-left-leave-active {
	opacity: 0;
	transition: all 500ms ease;
}
}








