.modal-overlay {
	position: absolute;
	top:100%;
	bottom: 0;
	left: 0;
	right: 0;

	background-color:rgba(0,0,0,0.01);
	z-index: 1000;
	transition: .25s background-color ease;

	// display: none;

	.modal{
		width: 470px;
		height: 370px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: 500px;
		margin-left: -250px;

		background-color: black;
		transition: .25s margin-top ease;

	}

	.modal-header{
		text-align: center;
		h1{
			color: #debd67;
			font-family: 'Brown Light';
			font-weight: 100;
			font-size: 24px;
			letter-spacing: 3px;
		}
	}

	.contact-container {
		text-align: center;

		.address{
			display: inline-block;
			p{display:block; margin: 5px 0px;}
		}

		p{
			margin: 5px 0px;
		}

		a{
			color: white;
			text-decoration: none;
			font-family: 'Brown Light';
			font-size: 13px;
			font-weight: 100;
			transition: .25s color ease;
			letter-spacing: 1px

			p{
				display: inline-block;
			}

			&:hover{
				color: #debd67;
			}
		}

		.phone-container a {
			cursor: default;

			p{margin-top: 0px; display:inline-block;}

			&:hover{
				color: white;
			}
		}

		.email-container a {
			// text-decoration: underline;
			border-bottom: 1px solid white;

			p{display:inline-block; margin-top: 0px;}

			&:hover{
				border-bottom: 1px solid #debd67;
			}
		}


	}

	.close{
		position: absolute;
		right: 10px;
		top: 12px;
		height: 30px;
		width: 30px;
		display: inline-block;
		cursor: pointer;
	}

	.close:before{
		content: '';
	    position: absolute;
	    height: 1px;
	    width: 15px;
	    /* top: 50%; */
	    top: 15px;
	    left: 5px;
	    margin-top: -1px;
	    background: #debd67;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    box-shadow: none;
	}

	.close:after{
		content: '';
	    position: absolute;
	    height: 1px;
	    width: 15px;
	    /* top: 50%; */
	    top: 15px;
	    left: 5px;
	    margin-top: -1px;
	    background: #debd67;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}

	.form-container{
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// margin-left: -103px;
		// text-align: center;
		// margin-top: -95px;
		width: 100%;
		text-align: center;
		position: relative;

		.form{
			z-index: 1000;
			position:relative;
		}

		.form-control{
			margin: 0px 0px;

			label{
				text-align: left;
				font-family: 'Brown Light';
				color: white;
				font-size: 14px;
				font-weight: 100;
				display: block;
				margin: 0px 0px 10px 45px;

			}

			textarea{
				width: 370px;
				height: 108px;
				border: 1px solid #debd67;
				background-color: #1a1a1a;
				color: white;
				letter-spacing: 1px;
				font-family: 'Brown Light';
				resize: none;

			}

			textarea.error{
				border: 1px solid red;
			}

			input{
				height: 28px;
				width: 200px;
				border: 1px solid #debd67;
				background-color: #1a1a1a;
			}

			input.error{
				border: 1px solid red;
			}
		}

		.submit-button{
			width: 135px;
			height: 28px;
			
			font-family: 'DIN Next Regular';
			background-color: white;
			border: 1px solid #debd67;
			cursor: pointer;
			transition: .25s color ease;
			color: #debd67;
			font-weight: 100;

			margin: 15px auto 0px;

			p{
				margin: 0;
				letter-spacing: 1px;
				line-height: 32px;
			}
		}

		.submit-button:hover{
			color: black;
		}

		.form.hide{
			opacity: 0;
		}

		.form-success{
			color: #debd67;
			font-family: 'Brown Light';
			font-weight: 100;
			font-size: 20px;
			letter-spacing: 3px;
			opacity: 0;
			transition: .5s opacity ease;
			position:absolute;
			width: 100%;
			bottom: 50px;
		}
		.form-success.hide{
			opacity: 1;
		}
	}
}

.modal-overlay.show{
	background-color: rgba(0,0,0,0.8);
	top: 0%;
}

.modal-overlay.hide{
	background-color:rgba(0,0,0,0.01);
}

.modal.show{
		margin-top: -185px;
}

@media only screen and (max-width: 820px){

	.modal-overlay{
		.modal.hide{
			display: none;
		}
	}
}




@media only screen and (max-width: 640px){
	
	.modal-overlay{
		.modal{
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			margin-top: 0;
			margin-left: 0;
			height: 100%;

			&.hide{
				display: none;
			}

			.modal-header{
				margin-top: 40px;
			}

			.close{

				&:before{
					height: 3px;
				    width: 25px;
				}

				&:after{
					height: 3px;
				    width: 25px;
				}
			}

			.contact-container{
				a{
					font-size: 16px;
					p{
						margin: 5px 0px;;
					}
				}
			}

			.form-container{

				label{
					text-align: center;
					margin: 15px 0px 20px 0px;
					font-size: 16px;
				}

				textarea{
					width: 90%;
				}
			}
		}
	}
}

@media only screen and (max-height: 590px){
	.modal-overlay{
		.modal.hide{
			display:none;
		}
	}
}









