.page {
  &.page-transition {
    &-appear {
      opacity: 0.01;
      &.page-transition-appear-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
      }
    }
    &-enter {
      opacity: 0.01;
      &.page-transition-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
      }
    }
    &-leave {
      opacity: 1;
      &.page-transition-leave-active {
        opacity: 0.01;
        transition: opacity 500ms ease-in;
      }
    }
  }
}
