.scroll{
	height: 100%;
}

.mCustomScrollbar { height:100%;
  position: absolute;
  .mCustomScrollBox  { height:100%; overflow:hidden;
    .mCSB_container { 
      /*padding:0 0 15px 0; */
      padding:0 0 0px 0;
    }
    .mCSB_scrollTools { position:absolute;
      &.mCSB_scrollTools_vertical { 
        
        top:75px; 
        right:10px; 
        width:9px; 
        height:70%;
        
        &.mCSB_scrollTools_onDrag {
          .mCSB_dragger_bar { opacity:1; }
        }
        .mCSB_draggerContainer { 
          position:absolute; 
          top:0; 
          left:0; 
          bottom:0; 
          right:0; 
          height:auto;  }
        .mCSB_dragger { width:9px; 
          border-left:3px solid transparent; 
          border-right:3px solid transparent; 
          cursor:pointer; 
          transition:0.2s border-width;
          /*&:hover { border-left-width:1px; border-right-width:1px; }*/
        }
        .mCSB_dragger_bar { 
          width:100%; 
          height:100%; 
          background:#000; 
          opacity:0.9; 
          transition:0.3s opacity linear;
          width: 5px;
          &:hover { opacity:1; }
        }
        .mCSB_draggerRail { margin:0 auto; height:100%; width:2px; 
          background:rgba(0,0,0,0.4); }
      }
    }
  }
}

.mCustomScrollbar:hover .mCSB_dragger_bar{
  opacity: 1;

}

.mCS_no_scrollbar_y {
  /*position: static!important;*/
}

.mCS_no_scrollbar {
  position: static!important;

  .mCS_y_hidden.mCS_no_scrollbar_y{
    height: 100%;
  }
}

.no-scroll {
  height: 100%;
}







