
.slideshow {
	position: absolute;
	height: 100%;
	width: 100%;
  /*width: 82%;*/
}

.slide {
	position: absolute;
	/*border: 1px solid blue;*/
	width: 100%;
	height: 100%;
	/*background-size: auto 100%;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
	/*right: 100%;*/
	/*opacity: 0;*/

}

.slides {
	height: 100%;
	width: 100%;
}

.slides img {
	position: absolute;
}

.slide--active {
	/*display: block;*/
	opacity: 1;
	/*right: 0;*/
	/*transition: all 500ms linear;*/
}

.controls {
	/*position: absolute;*/
  top: 50%;
  margin-top: -15px;
  width: 100%;
  /*top: 0;*/

  

}

.controls .toggle {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: 100% auto;
  cursor: pointer;
  z-index: 3;

}

.controls .toggle:hover {
  opacity: 0.7;
}

.controls .toggle--prev {
  background: url('/dist/release/arrow-left.png') no-repeat;
  background-size: 50% auto;
  margin-left: 20px;
}

.controls .toggle-next {
  background: url('/dist/release/arrow-right.png') no-repeat;
  background-size: 50% auto;
  margin-right: 20px;
  /*float: right;*/
  right: 290px;
  position: fixed;
}

.slide-info-container {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%

}

.slideshow-swipe {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
}

.slideshow.gallery {
  top: 0px;
}

.slideshow.mobile-full {
    height: calc(100% - 50px);
  }

  .slideshow.mobile-full .slide-info-container pre {
    font-size: 0.8em;
  }




@media only screen and (max-width: 640px) and (max-height: 490px){
  
  .slideshow.gallery{
    /*height: 265px;*/
  }



}

/*IE 11 and 10*/
@media all and (-ms-high-contrast:none){
     
     /*.slideshow.gallery { top: 15px; } */
     /* IE10 */
     

     /**::-ms-backdrop, .slideshow.gallery { top: 15px; }*/
      /* IE10 */

     @media only screen and (max-width: 820px){

        /*.slideshow.gallery { top: 45px; } */
        /* IE10 */
     

      /**::-ms-backdrop, .slideshow.gallery { top: 45px; } */
      /* IE10 */
     }
}









.slideshow-slide-enter {
  /*opacity: 0.01;*/
  left: 100%;
}

.slideshow-slide-enter.slideshow-slide-enter-active {
  /*opacity: 1;*/
  left: 0%;
  transition: all 700ms ease-in-out;
}

.slideshow-slide-leave {
  /*opacity: 1;*/
  left: 0%;
}

.slideshow-slide-leave.slideshow-slide-leave-active {
  /*opacity: 0.01;*/
  left: -100%;
  transition: all 700ms ease-in-out;
}





.slideshow-slide-reverse-enter {
  /*opacity: 0.01;*/
  right: 100%;
}

.slideshow-slide-reverse-enter.slideshow-slide-reverse-enter-active {
  /*opacity: 1;*/
  right: 0%;
  transition: all 700ms ease-in-out;
}

.slideshow-slide-reverse-leave {
  /*opacity: 1;*/
  right: 0%;
}

.slideshow-slide-reverse-leave.slideshow-slide-reverse-leave-active {
  /*opacity: 0.01;*/
  right: -100%;
  transition: all 700ms ease-in-out;
}