$close-button-size: 19px;


.slide-info-container {

	.slide-info-blurb {
		position: absolute;
		color: white;
		font-family: "Brown Light";
		font-size: 12px;
		opacity: 1;


	}

	.blurb1 .close-button{
		left: -25px;
	}

	.blurb2 .close-button{
		left: -26px;
	}

	.blurb3 .close-button {
		top: 19px;
	}

	.blurb3 .text-container {
		top: 23px;
		margin-top: auto!important;
	}

	.close-button {
		background-color: transparent;
		left: -25px;
		top: 23px;
		/*width: 22px;
		height: 22px;*/
		

		width: 24px;
		height: 24px;

		.close-x{
			background-color: white;
		}

		.left-x{
			/*background-color: #fff;*/
			/*margin-left: 10px;*/
			/*margin-left: 12px;*/
			/*margin-left: 11px;
			left: 0px;
			top: 3px;
			position: absolute;
			height: 15px;*/

			margin-left: 28px;
		    left: -17px;
		    top: 2px;
		    position: absolute;
		    /*height: 15px;*/
		    height: $close-button-size;
		}

		.right-x {
			/*background-color: #fff;*/
		    left: 0px;
		    top: 0px;
		    /*height: 15px;*/
		    height: $close-button-size;
		}
	}

	.shadow-circle {
		/*width: 24px;
		height: 24px;*/

		width: 26px;
		height: 26px;

		border: 1px solid transparent;
		box-shadow: 0px 0px 0px 1px white;
		border-radius: 50%;
		top:-2px;
		left: -2px;
		position: relative;
	}

	.close-button.close {
		transform: rotate(135deg);
	   -webkit-transform: rotate(135deg);
	   -ms-transform: rotate(135deg);
	   background-color: white;
	   border-radius: 100%;

	   .left-x{
			background-color: #debd67;
			margin-left: 28px;
		    left: -17px;
		    top: 2px;
		    position: absolute;
		    /*height: 15px;*/
		    height: $close-button-size;
		}

		.right-x {
			background-color: #debd67;
			left: 0px;
		    top: 0px;
		    /*height: 15px;*/
		    height: $close-button-size;
		
		}

	}

	.close-x.open{
		background-color: white;
	}

	.close-button:hover {
		opacity: 0.7;
	}

	.close-button.open{
		transform: rotate(90deg);
	   -webkit-transform: rotate(90deg);
	   -ms-transform: rotate(90deg);
	}

	.close-button.closing {
		transform: rotate(135deg);
	   -webkit-transform: rotate(135deg);
	   -ms-transform: rotate(135deg);

	   background-color: white;
	   border-radius: 100%;


	   -webkit-transition: .5s ease-in;
	  -moz-transition: .5s ease-in;
	  -ms-transition: .5s ease-in;
	  -o-transition: .5s ease-in;
	  transition: .5s ease-in;

	    -webkit-transition-delay: 0s; /* Safari */
	    transition-delay: 0s;
	}

	.close-x.closing, .left-x.closing, .right-x.closing {

		background-color: #debd67;
		-webkit-transition: .5s ease-in;
	  -moz-transition: .5s ease-in;
	  -ms-transition: .5s ease-in;
	  -o-transition: .5s ease-in;
	  transition: .5s ease-in;

	    -webkit-transition-delay: 0s; /* Safari */
	    transition-delay: 0s;
	}

	.close-button.opening {
		transform: rotate(90deg);
	   -webkit-transform: rotate(90deg);
	   -ms-transform: rotate(90deg);

	   background-color: transparent;

	     -webkit-transition: .5s ease-in;
	  -moz-transition: .5s ease-in;
	  -ms-transition: .5s ease-in;
	  -o-transition: .5s ease-in;
	  transition: .5s ease-in;

	    -webkit-transition-delay: 0s; /* Safari */
	    transition-delay: 0s;
	}

	.close-x.opening {

		background-color: white!important;
		-webkit-transition: .5s ease-in;
	  -moz-transition: .5s ease-in;
	  -ms-transition: .5s ease-in;
	  -o-transition: .5s ease-in;
	  transition: .5s ease-in;

	    -webkit-transition-delay: 0s; /* Safari */
	    transition-delay: 0s;
	}

	/*.left-x.opening{
		-webkit-transition: .5s;
	  -moz-transition: .5s;
	  -ms-transition: .5s;
	  -o-transition: .5s;
	  transition: .5s;
		background-color: #debd67;
			margin-left: 28px;
		    left: -18px;
		    top: 3px;
		    position: absolute;
		    height: 15px;
	}

	.right-x.opening{
		-webkit-transition: .5s;
	  -moz-transition: .5s;
	  -ms-transition: .5s;
	  -o-transition: .5s;
	  transition: .5s;
		background-color: #debd67;
			left: 0px;
		    top: 0px;
		    height: 15px;
	}*/

	p {
		font-family: 'Brown Light';
		font-size: 0.9em;
		letter-spacing: 1px;
		color: black;
		overflow: hidden;
		margin: 0;
		width: 220px;
		
	}

	.name {
			display: none;
		}

	.h1 {
		font-size: 34px;
		position: absolute;
		top: 40px;
		left: 150px;
		text-transform: uppercase;

		.text-container {
			background-color: transparent;
			width: 350px !important;
		}

		p {
			font-size: 42px;
			letter-spacing: 8px;
			font-family: 'Brown Light';
			color: white;
			font-weight: 100;
			width: 100%;
		}

		.close-button {
			display: none;
		}
	}

	.blurb1 {
		
		top: 70px;
		left: 147px;
		color: black;
		display: inline-block;

		

	}

	.text-container {
		width: 250px;
		background-color: rgba(250, 250, 250, 0.7);
		padding: 5px 15px 5px 3px;
		overflow: hidden;
		position: absolute;
	}

	.text-container.close {
		width: 0px;
		padding: 0px;
	}

	.text-container.closing {
	  -webkit-transition: .35s ease-in;
	  -moz-transition: .35s ease-in;
	  -ms-transition: .35s ease-in;
	  -o-transition: .35s ease-in;
	  transition: .35s ease-in;
	  /*margin-left: 20% !important;*/
	  width: 0px !important;
	  padding: 5px 0px 5px 0px !important;
	}

	.text-container.opening {
	  -webkit-transition: .35s ease-in-out;
	  -moz-transition: .35s ease-in-out;
	  -ms-transition: .35s ease-in-out;
	  -o-transition: .35s ease-in-out;
	  transition: .35s ease-in-out;

	  width: 250px !important;
	 
	  padding: 5px 15px 5px 3px !important;
	}

	.text-container.open.2 {
		height: 100px;
	}

	


	.shadow-circle.open {
		opacity: 0;
	}

	.shadow-circle.opening {
		  -webkit-transition: .35s ease-in;
	  -moz-transition: .35s ease-in;
	  -ms-transition: .35s ease-in;
	  -o-transition: .35s ease-in;
	  transition: .35s ease-in;

	  opacity: 0!important;
	}

	.shadow-circle.closing {
		  -webkit-transition: .35s ease-in;
	  -moz-transition: .35s ease-in;
	  -ms-transition: .35s ease-in;
	  -o-transition: .35s ease-in;
	  transition: .35s ease-in;

	  opacity: 1;
	}

	.shadow-circle.close {
		opacity: 1;
	}






	/*.blurb1 {
		top: 70%;
		left: 25%;
	}*/


	.blurb2 {
		top: 49%;
		left: 57%;

		.text-container {
			
		}
	}

	.blurb3 {
		top: 79%;
		left: 49%;
	}


}


/*///////////////MEDIA QUIERIES////////////////////*/

@media only screen and (max-width: 640px) {

	.slide-info-container {

		.h1 {
			left: 50px;
			top: 20px;
		}

		.blurb1 {
			left: 45px;
			top: 50px;
			
			p {
				font-size: 0.8em;
			}

		}

		/*.blurb1 {
			left: 15%;
			top: 75%;
		}*/

		.blurb2 {
			/*left: 20%;*/
			left: 65px !important;
		}

		.blurb3{
			/*left: 23%;*/
			left: 60px !important;
			top: 60%;
		}
	}
}

@media only screen and (max-width: 1400px){
	.slide-info-container .blurb2 {
    top: 54%;
    left: 49%;
}
}

@media only screen and (max-width: 1185px){
	.slide-info-container .blurb2 {
    	top: 54%;
    	left: 39%;
	}

    .slide-info-container .blurb3 {
    	top: 79%;
    	left: 39%;
	}
}

@media only screen and (max-width: 1000px){
	.slide-info-container pre {
		font-size: 1.1em
	}

	.slide-info-container .text-container{
		width: 260px;
	}

	.slide-info-container .text-container.opening {
	  -webkit-transition: 1s;
	  -moz-transition: 1s;
	  -ms-transition: 1s;
	  -o-transition: 1s;
	  transition: 1s;

	  width: 260px !important;
	  padding: 5px 15px 5px 3px !important;
	}
}

@media only screen and (max-width: 940px){
	.slide-info-container p {
		font-size: 0.9em
	}

	.slide-info-container .text-container{
		width: 220px;
	}

	.slide-info-container .text-container.opening {
	  -webkit-transition: 1s;
	  -moz-transition: 1s;
	  -ms-transition: 1s;
	  -o-transition: 1s;
	  transition: 1s;

	  width: 220px !important;
	  padding: 5px 15px 5px 3px !important;
	}

	.slide-info-container .blurb2 {
    	top: 54%;
    	left: 33%;
	}

    .slide-info-container .blurb3 {
    	top: 79%;
    	left: 35%;
	}
}

@media only screen and (max-width: 640px){

	.slide-info-container .h1 p {
		font-size: 25px;
	}

	.slide-info-container {
		overflow: hidden;
	}

}















