.about {
	
}

@media only screen and (max-height: 590px) and (min-width: 820px){
	.about .card .text-container {
		top: 50%;
		margin-top: -99.5px !important;
	}
}

@media only screen and (max-width: 820px){
	.page.about {
		/*height: 100%;*/
	}
	.about .card {
		/*height: 100%;*/

		.intro-text {
			margin-bottom: 15px;
		}
	}

	.page.terms {
		/*height: 100%;*/
	}
	.terms .card {
		/*height: 100%;*/
	}

	.terms .text-container {
		/*top: 30px;*/
	}

	.audio .about-text {
		margin-bottom: 20px;
	}

	.food .card-footer-text {
		margin-bottom: 20px;
	}

	.terms .intro-text {
		margin-bottom: 20px;
	}
}