/*table {
	margin: 0 auto;
}

.features {

	.card-header h1{
		font-size: 24px;
	}

	.table-header h2{
		font-size: 16px;
		color: #debd67;
	}

	table {
		font-size: 14px;
		border-spacing: 20px 5px;
		border-collapse: separate;

	}

	td {
		text-align: left;
	}

	.card-footer-text {
		font-size: 14px;
		margin: 10px 0px 0px 0px;
		text-align: left;
	}

	.card-footer-text p {
		width: 80%;
		margin: 0 auto;
	}

	
}
*/

.food {

	.date-table {
		width: 85%;
		margin: 0 auto;
	}

	.card table {
		margin: 0 auto;
		width: 100%;
	}
}