

.meetings_home .card {
	
	
	text-align: center;
	font-family: 'Brown Light';

	.card-header {
		/*margin-top: 70px;*/
		/*margin-top: 14%; */
	}

	.about-header {
		/*margin-top: 70px;*/
		margin-top: 40px;
		color: #debd67;
	}

	.about-text {
		margin-bottom: 10%;
	}

	.text-container {
		/*width: 81%;*/
		margin: -315px auto 0px auto;
		text-align: center;
	}

	h1{

		color: #debd67;
		/*font-size: 11px;*/
		font-weight: 100;
	}

	p{
		/*font-size: 14px;*/
		font-family: 'Brown Light';
		width: 81%;
		margin: 0 auto;
		
	}

	p:first-child {
		margin-bottom: 0;
	}
	p:nth-of-type(2) {
		margin-top: 0;
	}
}

@media only screen and (max-height: 670px) {

	.home .card p {
		font-size: 12px;
	}

	.home .card .text-container {
		/*width: 81%;*/
		margin: -259px auto 0px auto;
		text-align: center;
	}
}