.map-container {
	position: absolute;
	height: 100%;
	width: 100%;

}

.content-area.mobile-full {
	height: calc(100% - 50px);
}

.map-container .map-img {
	background-size: cover;
	height: 100%;
	background-position: 60% 50%;
}

.marker {
    /*background: url(/dist/release/map-marker-proper.png);*/
    /*background: url(/hotels-logo2x-map-marker.png);*/
    background-size: 40px;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.marker-box {
	position: relative;
	border: 1px solid #dedb67;
    cursor: default;
}
.marker-box:after, .marker-box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.marker-box:after {
	border-color: rgba(250, 250, 250, 0);
	border-top-color: rgba(250, 250, 250, 1);
	border-width: 20px;
	margin-left: -20px;
}
.marker-box:before {
	border-color: rgba(222, 219, 103, 0);
	border-top-color: #dedb67;
	border-width: 21px;
	margin-left: -21px;
}



.marker-content{
	position: relative;
    bottom: 145px;
    color: black;
    opacity: 0;
    -webkit-transition: .25s opacity linear;
    transition: .25s opacity linear;
    width: 350px;
    margin-left: -156px;
    min-height: 100px;
    text-align: center;
    /*border: 1px solid black;*/
    
    .marker-box {
        background: rgba(250, 250, 250, 1);
        border: 1px solid #debd67;
        transition: 0.25s background linear;
    }

    .marker-box:hover{
        background: rgba(250, 250, 250, 0.8);
    }

   /* .marker-box:hover:after{
        border-top-color: rgba(250, 250, 250, 0.8);
    }

    .marker-box:hover:before{
        border-top-color: rgba(250, 250, 250, 0.8);
    }*/

    
    

    .close {
        font-size: 30px;
        line-height: 15px;
        position: absolute;
        /*position: static;*/
        display: inline-block;
        top: 10px;
        right: 0px;
        /*margin-top: 15px;*/
        padding: 0px 0px 5px 0px;
        right: 10px;
        cursor: pointer;
        font-family: 'Brown Light';
        font-weight: 900;
        color: grey;
        width: 25px;
        height: 25px;
    }


    p{
    	display: inline-block;
    	margin: 4px auto 4px auto;
    	position: relative;
    	width: 90%;
        font-size: 13px;
        font-family: 'Brown Light';
    }

    a {
        text-decoration: none;
        color: black;
        transition: .15s color linear;
        font-family: 'Brown Light';
        font-size: 13px;
        text-transform: none;
    }

    a:hover{
        color: #debd67;
    }

    .marker-title {
	    color: #debd67;
	    text-transform: uppercase;
	    font-size: 15px;
	    font-weight: 900;
	    padding-bottom: 10px;
	    border-bottom: 2px solid #debd67;
	    margin-top: 20px;
	    margin-bottom: 5px;
	    font-family: 'Brown Light';
        letter-spacing: 1px;
        width: 85%;
    }

    .marker-description {
    	text-align: center;
    	font-size: 13px;
    	font-family: 'Brown Light';
    	letter-spacing: 1px;

        
    }

    .marker-link {
    	color: black;
		/*margin-top: 10px;*/
        font-size: 13px;

    }

    .marker-phone {
        margin-bottom: 20px;

        a:hover{
            color:black;
            cursor: default;
        }
    }

    /*.map-img-container {
    	width: 80px;
    	height: 80px;
    	position: relative;
    	display: inline-block;
    	border: 5px solid white;
    	border-radius: 100%;
    	overflow: hidden;
    	bottom: 40px;
    	left: -25px;

    	img{
    		width: 190%;
    	}
    }*/
}

.marker-content.show.block{
	opacity: 1;
}

.marker-content.none{
    display: none;
}

.marker-content.block{
    display: block;
}

@media only screen and (max-width: 820px){

	.map-container {
		top: 50px;
		height: calc( 100% - 50px);
	}
	.map-container .map-img{
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: 60% 0px;
		min-height: 482px;

	}
}

@media only screen and (max-width: 640px){

    .marker-content{
        width: 275px;
        margin-left: -118px;

        .close{
            top: 0px;
            right: 0px;
        }
    }

}






