doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="initial-scale=1, user-scalable=no")
        //meta
        meta(name='keywords', content='')
        meta(name='description', content='')
        title
        //meta
        if local === false
            link(rel='stylesheet', href="[[#{name}.css]]", type="text/css")
            
    body
        div.wrapper
            div#loading
                div.spinner

        style.
            #loading {
                width: 100%;
                position: fixed; z-index: 50; background: #f8fbf1; margin-top: -15px; top: 50%;  }
            .spinner {
            	position: absolute; margin: auto; width: 50px;
            	height: 50px;
            	-webkit-animation: rotation 1s infinite linear;
            	animation: rotation 1s infinite linear;
            	border: 1px solid rgba(160,133,64,.3);
            	border-top-color: #a08540;
            	border-radius: 50%;
            	top: 0;
            	right: 0;
            	bottom: 0;
            	left: 0; }


   
        script(src="[[#{name}.js]]", type="text/javascript")
